@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color: #82c784  ;
  --secondary-color: #42a148;
  --dark-color: #2e7d3e;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: rgb(247, 247, 247) ;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bolder;

}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
  font-weight: 1000;
}



/* navbar */

.nav-logo {
    height: 75px;
    width: 130px;
    padding: 10px 10px;
}

.navbar {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 9999;
}

.nav-container {

    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
    justify-content: space-between;
   
}

.nav-container ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
}

.nav-container li {
    padding-left: 26px;
      
}

ul a:hover {
  background-color: #82c784;
}


.phone-container {
  width: 100%;
  position: relative;

}

.booking {
  margin: 0 auto;
}

.phone {
  position: absolute;
  top: 75px;
  right: 0px;
  font-weight: 1000;

}




/* homepage */

.homecontent {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 3px;
  position: relative;
}

.content1 {
  height: 100%;
  background-image: url(assets/tyredump.jpeg);
  background-size: 900px 500px;
  opacity: 0.7;
  border-radius: 3px;

}

.content2 {
 
  height: 100%;
  background-image: url(assets/tyrerecycling.jpeg);
  background-size: 900px 500px;
  opacity: 0.7;

}

.calltoaction {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  z-index: 100;

}

.homecontent h1 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.blackoverlay {
  
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  position: absolute;
  z-index: 50;
}

.homecontent a:hover {
  background-color: #82c784;
}



/* position */

.position {
  background-color: #42a148;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.position a {
  font-size: large;
  color: aliceblue;
}

.position h2 {
  margin: 0;
}


.mission-statement {
  padding: 2rem 0;
}


.mission-statement h1, h3{
  font-weight: 900;
  margin: 0;
  text-align: center;
}










/* services*/

.services h2 {
  text-align: center;
  font-weight: 1000;
  padding: 20px 0;
 
}

.services {
  background-color: rgb(247, 247, 247);
  margin: 0;

}

.service-container {

  margin: 0 auto;
  max-width: 1300px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;

}


.pic1 {
  
  background-image: url(assets/truckonhigh.jpeg);
  background-size: 350px 300px;
  background-repeat: no-repeat;
}

.pic2 {
  
  background-image: url(assets/tyre);
  background-size: 500px 300px;
  background-repeat: no-repeat;


}.pic3 {

  background-image: url(assets/tyrebackground.jpg);
  background-size: 400px 300px;
  background-repeat: no-repeat;


}.pic4 {
 
}

.text {
  
  padding: 0 10px;

}

/* location-contact*/


.location-contact {

  background-color: #5cb85c;

}

.location-contact-container{
  
  background-color:  rgb(247, 247, 247);
  max-width: 1300px;
  margin: 2rem auto;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;

}

.location{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem 0;
  
}

.map {
  width: 500px;
  height: 450px;

}

.location h2 {
  font-weight: 1000;
  padding: 15px 0;
}

.address {
  font-weight: 700;
}



.contact{
 
  max-width: 75%;
  margin: 0 auto;
  

}

.contact h2 {
  padding: 15px 0;
  text-align: center;
  font-weight: 1000;
}



.contact button:hover {
 
    background-color: #82c784;


}

textarea{
	min-height: 300px;
}


/* footer*/


footer {
  background-color: white ;
}


.footer-container {
  background-color: white;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

footer .btn-shape {
  padding: 3px 3px;
}

footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.social-media {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.social-media li {
  list-style: none;
}



.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: white;
}




/* position html*/


.pos-container h1 {

  font-weight: bolder;

}

.pos-container {
  max-width: 1100px;
  margin: 150px auto;
}

.flname {

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.pos-container label {
  font-weight: 1000;

}

.pos-container li {
  font-weight: 600;
} 

.pos-container h3 {
  padding: 10px 0;
} 


/* booking html*/

.booking-container {
  max-width: 1400px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}



.payment-option {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.booking-form {
  background-color: white;
  padding: 20px 20px;

}

form label {

  font-weight: 1000 ;

}

form h3 {

  font-weight: 1000 ;
  padding: 1rem 0;
  text-transform: uppercase;

}

.booking-location h2 {
  align-self: flex-start;
  font-weight: 1000;
  
}



.book-map {
  width: 90%;
}

.location-content {
  padding: 2rem 0;
}

.tyre-amount {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;

}

/* news html*/
































@media(max-width: 800px) {

  .nav-logo {
    height: 60px;
    width: 100px;
    padding: 10px 10px;
  }

  .nav-container li {
    padding-left: 10px;
}



  .homecontent h1 {
    font-size: large;
  }

  .service-container{
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }

  .location-contact-container {
    grid-template-columns: 1fr;
  }

  .booking {
    display: none;
  }

  .footer-container h3 {
    display: None;
  }

  .pos-container {
    padding: 0 2rem;
  }

  .booking-container {
    grid-template-columns: 1fr;

  }

  .booking-location {
    padding: 0 1rem;
  }

 


}








