
.flex {
    display: flex;
}

.grid {
    display: grid;
}

.gridcol1fr2fr{
    grid-template-columns: 1fr 2fr;

}


.btn {
    padding: 10px 10px;
    cursor: pointer;
    background: #42a148;
    border: none;
    border-radius: 5px;
    color: white;
}

  
.btn-phone{
    padding: 5px 5px;
    cursor: pointer;
    background: #42a148 ;
    border: none;
    border-radius: 5px;
    color: white;
}


.btn-form{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #42a148;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn-shape {
    padding: 10px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 0.5rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.shadow {
    position: relative;
    box-shadow: 0 5px 20px rgb(0,0,0,.25);
    transition: transform 300ms, box-shadow 300ms;

}

.shadow:hover {
    scale: 1.02;
    box-shadow: 0 15px 80px rgb(0,0,0,.25);



}

.green {
    color: #2ecc71;
}

.py {
    padding: 10px 10px;
}


