
.flex {
    display: flex;
}

.grid {
    display: grid;
}

.gridcol1fr2fr{
    grid-template-columns: 1fr 2fr;

}


.btn {
    padding: 10px 10px;
    cursor: pointer;
    background: #42a148;
    border: none;
    border-radius: 5px;
    color: white;
  }

  .btn-phone{
    padding: 5px 5px;
    cursor: pointer;
    background: #42a148 ;
    border: none;
    border-radius: 5px;
    color: white;
  }


  .btn-form{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}